<launch>
  <arg name="google_application_credentials" default="/home/student/google_keys/homeworkbot-feck-a7c5d9f51214.json"/>
  <arg name="config_file" default="$(find homework3)/config/params.yaml"/>
  <rosparam command="load" file="$(arg config_file)" ns="/dialogflow_client"/>
  <node name="dialogflow_client" pkg="dialogflow_ros" type="dialogflow_client.py" output="screen">
     <param name="google_application_credentials" value="$(arg google_application_credentials)"/>
  </node>
  <node name="homework3" pkg="homework3" type="chatbot_node.py" output="screen"/>

</launch>
